<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Posts" class="btn" [routerLink]="['/administration/posts']" matTooltip="Monitoring Posts">
    <span i18n="@@Posts">Monitoring Posts</span>
  </a> /
  <a i18n-matTooltip="@@PostDataAvgs" [routerLink]="['/postdataavgs']" class="btn" matTooltip="Post Data Averaged">
    <span i18n="@@PostDataAvgs">Post Data Averaged</span>
  </a> /
  <a i18n-matTooltip="@@PostDataAvgDetails" class="btn" matTooltip="Post Data Averaged details">
    <span i18n="@@PostDataAvgDetails">Post Data Averaged details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@DateTime">Date and Time</dt>
      <dd>{{postdataavg?.DateTime}}</dd>
      <dt i18n="@@MeasuredParameter">Measured Parameter</dt>
      <dd>{{postdataavg?.MeasuredParameter?.Name}}</dd>
      <dt i18n="@@MonitoringPost">Monitoring Post</dt>
      <dd>{{postdataavg?.Post?.Name}}</dd>
      <dt i18n="@@Value">Value</dt>
      <dd>{{postdataavg?.Value}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/postdataavgs']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
