<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a> /
  <a i18n-matTooltip="@@CarPostDataSmokeMeters" [routerLink]="['/carpostdatasmokemeters']" class="btn" matTooltip="Car Post Data (Smoke Meter)">
    <span i18n="@@CarPostDataSmokeMeters">Car Post Data (Smoke Meter)</span>
  </a> /
  <a i18n-matTooltip="@@CarPostDataSmokeMeterDetails" class="btn" matTooltip="Car Post Data details (Smoke Meter)">
    <span i18n="@@CarPostDataSmokeMeterDetails">Car Post Data details (Smoke Meter)</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Date and Time</dt>
      <dd>{{carpostdatasmokemeter?.DateTime}}</dd>
      <dt i18n="@@CarPost">Car Post</dt>
      <dd>{{carpostdatasmokemeter?.CarModelSmokeMeter?.CarPost?.Name}}</dd>
      <dt i18n="@@CarModelSmokeMeter">Car Model (Smoke Meter)</dt>
      <dd>{{carpostdatasmokemeter?.CarModelSmokeMeter?.Name}}</dd>
      <dt i18n="@@Number">Number</dt>
      <dd>{{carpostdatasmokemeter?.Number}}</dd>
      <dt i18n="@@DOPOL1">DOPOL1</dt>
      <dd>{{carpostdatasmokemeter?.DOPOL1}}</dd>
      <dt i18n="@@DOPOL2">DOPOL2</dt>
      <dd>{{carpostdatasmokemeter?.DOPOL2}}</dd>
      <dt i18n="@@MIN_TAH">MIN_TAH</dt>
      <dd>{{carpostdatasmokemeter?.MIN_TAH}}</dd>
      <dt i18n="@@MIN_CO">MIN_CO</dt>
      <dd>{{carpostdatasmokemeter?.MIN_CO}}</dd>
      <dt i18n="@@MIN_CH">MIN_CH</dt>
      <dd>{{carpostdatasmokemeter?.MIN_CH}}</dd>
      <dt i18n="@@MIN_CO2">MIN_CO2</dt>
      <dd>{{carpostdatasmokemeter?.MIN_CO2}}</dd>
      <dt i18n="@@MIN_O2">MIN_O2</dt>
      <dd>{{carpostdatasmokemeter?.MIN_O2}}</dd>
      <dt i18n="@@MIN_L">MIN_L</dt>
      <dd>{{carpostdatasmokemeter?.MIN_L}}</dd>
      <dt i18n="@@MAX_TAH">MAX_TAH</dt>
      <dd>{{carpostdatasmokemeter?.MAX_TAH}}</dd>
      <dt i18n="@@MAX_CO">MAX_CO</dt>
      <dd>{{carpostdatasmokemeter?.MAX_CO}}</dd>
      <dt i18n="@@MAX_CH">MAX_CH</dt>
      <dd>{{carpostdatasmokemeter?.MAX_CH}}</dd>
      <dt i18n="@@MAX_CO2">MAX_CO2</dt>
      <dd>{{carpostdatasmokemeter?.MAX_CO2}}</dd>
      <dt i18n="@@MAX_O2">MAX_O2</dt>
      <dd>{{carpostdatasmokemeter?.MAX_O2}}</dd>
      <dt i18n="@@MAX_L">MAX_L</dt>
      <dd>{{carpostdatasmokemeter?.MAX_L}}</dd>
      <dt i18n="@@ZAV_NOMER">ZAV_NOMER</dt>
      <dd>{{carpostdatasmokemeter?.ZAV_NOMER}}</dd>
      <dt i18n="@@K_1">K_1</dt>
      <dd>{{carpostdatasmokemeter?.K_1}}</dd>
      <dt i18n="@@K_2">K_2</dt>
      <dd>{{carpostdatasmokemeter?.K_2}}</dd>
      <dt i18n="@@K_3">K_3</dt>
      <dd>{{carpostdatasmokemeter?.K_3}}</dd>
      <dt i18n="@@K_4">K_4</dt>
      <dd>{{carpostdatasmokemeter?.K_4}}</dd>
      <dt i18n="@@K_SVOB">K_SVOB</dt>
      <dd>{{carpostdatasmokemeter?.K_SVOB}}</dd>
      <dt i18n="@@K_MAX">K_MAX</dt>
      <dd>{{carpostdatasmokemeter?.K_MAX}}</dd>
      <dt i18n="@@MIN_NO">MIN_NO</dt>
      <dd>{{carpostdatasmokemeter?.MIN_NO}}</dd>
      <dt i18n="@@MAX_NO">MAX_NO</dt>
      <dd>{{carpostdatasmokemeter?.MAX_NO}}</dd>
      <dt i18n="@@Temperature">Temperature</dt>
      <dd>{{carpostdatasmokemeter?.Temperature}}</dd>
      <dt i18n="@@Pressure">Pressure</dt>
      <dd>{{carpostdatasmokemeter?.Pressure}}</dd>
      <dt i18n="@@GasSerialNumber">Gas Serial Number</dt>
      <dd>{{carpostdatasmokemeter?.GasSerialNumber}}</dd>
      <dt i18n="@@GasCheckDate">Gas Check Date</dt>
      <dd>{{carpostdatasmokemeter?.GasCheckDate}}</dd>
      <dt i18n="@@MeteoSerialNumber">Meteo Serial Number</dt>
      <dd>{{carpostdatasmokemeter?.MeteoSerialNumber}}</dd>
      <dt i18n="@@MeteoCheckDate">Meteo Check Date</dt>
      <dd>{{carpostdatasmokemeter?.MeteoCheckDate}}</dd>
      <dt i18n="@@TestNumber">Test Number</dt>
      <dd>{{carpostdatasmokemeter?.TestNumber}}</dd>
      <dt i18n="@@Tester">Tester</dt>
      <dd>{{carpostdatasmokemeter?.Tester?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/carpostdatasmokemeters']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
