<style>
  a.app-name {
    margin-left: 8px;
    color: white;
  }
</style>

<ng-container>
  <mat-toolbar color="primary" class="nav-header">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="app-name nav-link" [routerLink]="['/']"><h1>SmartEcoA</h1></a>
    <h1>(version 2021.10.19)</h1>
  </mat-toolbar>

  <mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" class="nav-sidenav">
      <mat-nav-list>
        <a mat-list-item class="nav-link text-dark" [routerLink]="['/locale']"><i class="material-icons">language</i> {{currentLanguage}}</a>
        <a i18n="@@Administration" *ngIf="userService.authorizedUser() && userService.allowedRole(['Administrator', 'Moderator'])" mat-list-item class="nav-link text-dark" [routerLink]="['/administration']">Administration</a>
        <a i18n="@@Dashboard" *ngIf="userService.authorizedUser() && userService.allowedRole(['Administrator', 'Moderator', 'Customer'])" mat-list-item class="nav-link text-dark" [routerLink]="['/dashboard']">Dashboard</a>
        <a i18n="@@Reports" *ngIf="userService.authorizedUser() && userService.allowedRole(['Administrator', 'Moderator', 'Customer'])" mat-list-item class="nav-link text-dark" [routerLink]="['/reports']">Reports</a>
        <a i18n="@@AppealCitizens" *ngIf="userService.authorizedUser() && userService.allowedRole(['Administrator', 'Moderator', 'Customer'])" mat-list-item class="nav-link text-dark" [routerLink]="['/appealcitizens']">Appeal of citizens</a>
        <a i18n="@@Register" *ngIf="!userService.authorizedUser()" mat-list-item class="nav-link text-dark" [routerLink]="['/users/register']">Register</a>
        <a i18n="@@LogIn" *ngIf="!userService.authorizedUser()" mat-list-item class="nav-link text-dark" [routerLink]="['/users/login']">Log in</a>
        <a *ngIf="userService.authorizedUser() && authorizedUser" mat-list-item class="nav-link text-dark" [routerLink]="['/users/changepassword']"> {{authorizedUser.Email}}</a>
        <a i18n="@@LogOut" *ngIf="userService.authorizedUser()" mat-list-item class="nav-link text-dark" [routerLink]="['/']" (click)="userService.logout()">Log out</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
