<mat-card>
  <mat-card-title i18n="@@CreateNewPollutionEnvironment">Create a new Pollution Environment</mat-card-title>
  <form [formGroup]="pollutionenvironmentForm" autocomplete="off" novalidate (ngSubmit)="create(pollutionenvironmentForm.value)">
    <mat-card-content>
      <mat-form-field>
        <input i18n-placeholder="@@NameEnglish" matInput type="text" placeholder="Name (English)" formControlName="NameEN" id="nameen">
        <mat-hint i18n="@@NotMore50Characters">Not more than 50 characters long.</mat-hint>
        <mat-error i18n="@@NameEnglishRequired" *ngIf="error('NameEN', 'required')">Name (English) is required</mat-error>
        <mat-error i18n="@@More50Characters" *ngIf="error('NameEN', 'maxlength')">You have more than 50 characters</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input i18n-placeholder="@@NameRussian" matInput type="text" placeholder="Name (Russian)" formControlName="NameRU" id="nameru">
        <mat-hint i18n="@@NotMore50Characters">Not more than 50 characters long.</mat-hint>
        <mat-error i18n="@@NameRussianRequired" *ngIf="error('NameRU', 'required')">Name (Russian) is required</mat-error>
        <mat-error i18n="@@More50Characters" *ngIf="error('NameRU', 'maxlength')">You have more than 50 characters</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input i18n-placeholder="@@NameKazakh" matInput type="text" placeholder="Name (Kazakh)" formControlName="NameKK" id="namekk">
        <mat-hint i18n="@@NotMore50Characters">Not more than 50 characters long.</mat-hint>
        <mat-error i18n="@@NameKazakhRequired" *ngIf="error('NameKK', 'required')">Name (Kazakh) is required</mat-error>
        <mat-error i18n="@@More50Characters" *ngIf="error('NameKK', 'maxlength')">You have more than 50 characters</mat-error>
      </mat-form-field>
      <br />
    </mat-card-content>
    <mat-card-actions align="center">
      <button i18n="@@Create" mat-raised-button color="primary" [disabled]="!pollutionenvironmentForm.valid">Create</button>
      <button i18n="@@Cancel" type="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
