<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@PollutionEnvironments" [routerLink]="['/pollutionenvironments']" class="btn" matTooltip="Pollution Environments">
    <span i18n="@@PollutionEnvironments">Pollution Environments</span>
  </a> /
  <a i18n-matTooltip="@@PollutionEnvironmentDetails" class="btn" matTooltip="Pollution Environment details">
    <span i18n="@@PollutionEnvironmentDetails">Pollution Environment details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{pollutionenvironment?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/pollutionenvironments']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
