<div class="jumbtron">
  <a i18n-matTooltip="@@Administration" class="btn" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a>
  <br />

  <a i18n-matTooltip="@@Users" class="btn" [routerLink]="['/users']" matTooltip="Users" *ngIf="userService.allowedRole(['Administrator'])">
    <i class="material-icons">people_alt</i>
    <span i18n="@@Users">Users</span>
  </a>
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a>
  <a i18n-matTooltip="@@Posts" class="btn" [routerLink]="['/administration/posts']" matTooltip="Monitoring Posts">
    <span i18n="@@Posts">Monitoring Posts</span>
  </a>
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a>
</div>
