<div class="jumbtron">
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a>
  <br />

  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a>
  <br />
  <a i18n-matTooltip="@@CarModelSmokeMeters" class="btn" [routerLink]="['/carmodelsmokemeters']" matTooltip="Car Models (Smoke Meter)">
    <span i18n="@@CarModelSmokeMeters">Car Models (Smoke Meter)</span>
  </a>
  <a i18n-matTooltip="@@CarPostDataSmokeMeters" class="btn" [routerLink]="['/carpostdatasmokemeters']" matTooltip="Car Posts Data (Smoke Meter)">
    <span i18n="@@CarPostDataSmokeMeters">Car Posts Data (Smoke Meter)</span>
  </a>
  <br />
  <a i18n-matTooltip="@@CarModelAutoTests" class="btn" [routerLink]="['/carmodelautotests']" matTooltip="Car Models (Auto Test)">
    <span i18n="@@CarModelAutoTests">Car Models (Auto Test)</span>
  </a>
  <a i18n-matTooltip="@@CarPostDataAutoTests" class="btn" [routerLink]="['/carpostdataautotests']" matTooltip="Car Posts Data (Auto Test)">
    <span i18n="@@CarPostDataAutoTests">Car Posts Data (Auto Test)</span>
  </a>
</div>
