<a i18n-matTooltip="@@Create" class="btn" [routerLink]="['/carpostdataautotests/create']" matTooltip="Create"><i class="material-icons">add</i></a>

<mat-form-field>
  <input i18n-placeholder="@@Filter" matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="table">
  <tr>
    <ng-container matColumnDef="DateTime">
      <th i18n="@@DateTime" mat-header-cell *matHeaderCellDef mat-sort-header>Date and Time</th>
      <td mat-cell *matCellDef="let item">{{item.DateTime}}</td>
    </ng-container>

    <ng-container matColumnDef="CarPost">
      <th i18n="@@CarPost" mat-header-cell *matHeaderCellDef mat-sort-header>Car Post</th>
      <td mat-cell *matCellDef="let item">{{item.CarModelAutoTest.CarPost.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="CarModelAutoTest">
      <th i18n="@@CarModelAutoTest" mat-header-cell *matHeaderCellDef mat-sort-header>Car Model (Auto Test)</th>
      <td mat-cell *matCellDef="let item">{{item.CarModelAutoTest.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="Number">
      <th i18n="@@Number" mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
      <td mat-cell *matCellDef="let item">{{item.Number}}</td>
    </ng-container>

    <ng-container matColumnDef="details-edit-delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <a i18n-matTooltip="@@Details" class="btn" [routerLink]="['/carpostdataautotests', item.Id]" matTooltip="Details"><i class="material-icons">info</i></a>
        <a i18n-matTooltip="@@Edit" class="btn" [routerLink]="['/carpostdataautotests/edit', item.Id]" matTooltip="Edit"><i class="material-icons">edit</i></a>
        <a i18n-matTooltip="@@Delete" class="btn" matTooltip="Delete" (click)="delete(item.Id)"><i class="material-icons">delete</i></a>
      </td>
    </ng-container>
  </tr>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="100" showFirstLastButtons></mat-paginator>
