<div class="jumbtron">
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a> /
  <a i18n-matTooltip="@@Testers" [routerLink]="['/testers']" class="btn" matTooltip="Testers">
    <span i18n="@@Testers">Testers</span>
  </a>
  <br />
  <testers></testers>
</div>
