<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@DataProviders" [routerLink]="['/dataproviders']" class="btn" matTooltip="Data Providers">
    <span i18n="@@DataProviders">Data Providers</span>
  </a> /
  <a i18n-matTooltip="@@DataProviderDetails" class="btn" matTooltip="Data Provider details">
    <span i18n="@@DataProviderDetails">Data Provider details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{dataprovider?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/dataproviders']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
