<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a> /
  <a i18n-matTooltip="@@TypeEcoClasses" [routerLink]="['/typeecoclasses']" class="btn" matTooltip="Type Eco Classes">
    <span i18n="@@TypeEcoClasses">Type Eco Classes</span>
  </a> /
  <a i18n-matTooltip="@@TypeEcoClassDetails" class="btn" matTooltip="Type Eco Class details">
    <span i18n="@@TypeEcoClassDetails">Type Eco Class details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{typeecoclass?.Name}}</dd>
      <!--<dt i18n="@@EngineType">EngineType</dt>
      <dd i18n="@@Petrol">Petrol</dd>
      <dd i18n="@@Diesel" *ngIf="typeecoclass?.EngineType==1">Diesel</dd>
      <dt i18n="@@MIN_TAH">MIN_TAH</dt>
      <dd>{{typeecoclass?.MIN_TAH}}</dd>
      <dt i18n="@@DEL_MIN">DEL_MIN</dt>
      <dd>{{typeecoclass?.DEL_MIN}}</dd>
      <dt i18n="@@MAX_TAH">MAX_TAH</dt>
      <dd>{{typeecoclass?.MAX_TAH}}</dd>
      <dt i18n="@@DEL_MAX">DEL_MAX</dt>
      <dd>{{typeecoclass?.DEL_MAX}}</dd>
      <dt i18n="@@MIN_CO">MIN_CO</dt>
      <dd>{{typeecoclass?.MIN_CO}}</dd>
      <dt i18n="@@MAX_CO">MAX_CO</dt>
      <dd>{{typeecoclass?.MAX_CO}}</dd>
      <dt i18n="@@MIN_CH">MIN_CH</dt>
      <dd>{{typeecoclass?.MIN_CH}}</dd>
      <dt i18n="@@MAX_CH">MAX_CH</dt>
      <dd>{{typeecoclass?.MAX_CH}}</dd>
      <dt i18n="@@L_MIN">L_MIN</dt>
      <dd>{{typeecoclass?.L_MIN}}</dd>
      <dt i18n="@@L_MAX">L_MAX</dt>
      <dd>{{typeecoclass?.L_MAX}}</dd>
      <dt i18n="@@K_SVOB" *ngIf="typeecoclass?.EngineType==1">K_SVOB</dt>
      <dd *ngIf="typeecoclass?.EngineType==1">{{typeecoclass?.K_SVOB}}</dd>
      <dt i18n="@@K_MAX" *ngIf="typeecoclass?.EngineType==1">K_MAX</dt>
      <dd *ngIf="typeecoclass?.EngineType==1">{{typeecoclass?.K_MAX}}</dd>-->
      <dd i18n="@@Petrol">Petrol</dd>
      <dt i18n="@@MIN_TAH">MIN_TAH</dt>
      <dd>{{typeecoclass?.MIN_TAH}}</dd>
      <dt i18n="@@DEL_MIN">DEL_MIN</dt>
      <dd>{{typeecoclass?.DEL_MIN}}</dd>
      <dt i18n="@@MAX_TAH">MAX_TAH</dt>
      <dd>{{typeecoclass?.MAX_TAH}}</dd>
      <dt i18n="@@DEL_MAX">DEL_MAX</dt>
      <dd>{{typeecoclass?.DEL_MAX}}</dd>
      <dt i18n="@@MIN_CO">MIN_CO</dt>
      <dd>{{typeecoclass?.MIN_CO}}</dd>
      <dt i18n="@@MAX_CO">MAX_CO</dt>
      <dd>{{typeecoclass?.MAX_CO}}</dd>
      <dt i18n="@@MIN_CH">MIN_CH</dt>
      <dd>{{typeecoclass?.MIN_CH}}</dd>
      <dt i18n="@@MAX_CH">MAX_CH</dt>
      <dd>{{typeecoclass?.MAX_CH}}</dd>
      <dt i18n="@@L_MIN">L_MIN</dt>
      <dd>{{typeecoclass?.L_MIN}}</dd>
      <dt i18n="@@L_MAX">L_MAX</dt>
      <dd>{{typeecoclass?.L_MAX}}</dd>
      
      <dd i18n="@@Diesel">Diesel</dd>
      <dt i18n="@@K_SVOB" >K_SVOB</dt>
      <dd>{{typeecoclass?.K_SVOB}}</dd>
      <dt i18n="@@K_MAX">K_MAX</dt>
      <dd>{{typeecoclass?.K_MAX}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/typeecoclasses']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
