<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a> /
  <a i18n-matTooltip="@@CarModelAutoTests" [routerLink]="['/carmodelautotests']" class="btn" matTooltip="Car Models (Auto Test)">
    <span i18n="@@CarModelAutoTests">Car Models (Auto Test)</span>
  </a> /
  <a i18n-matTooltip="@@CarModelAutoTestDetails" class="btn" matTooltip="Car Model (Auto Test) details">
    <span i18n="@@CarModelAutoTestDetails">Car Model (Auto Test) details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{carmodelautotest?.Name}}</dd>
      <dt i18n="@@EngineType">EngineType</dt>
      <dd i18n="@@Petrol" *ngIf="carmodelautotest?.EngineType==0">Petrol</dd>
      <dd i18n="@@Diesel" *ngIf="carmodelautotest?.EngineType==1">Diesel</dd>
      <dt i18n="@@Version" *ngIf="carmodelautotest?.EngineType==0">Version</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.Version}}</dd>
      <dt i18n="@@MIN_TAH" *ngIf="carmodelautotest?.EngineType==0">MIN_TAH</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_TAH}}</dd>
      <dt i18n="@@DEL_MIN" *ngIf="carmodelautotest?.EngineType==0">DEL_MIN</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.DEL_MIN}}</dd>
      <dt i18n="@@MAX_TAH" *ngIf="carmodelautotest?.EngineType==0">MAX_TAH</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_TAH}}</dd>
      <dt i18n="@@DEL_MAX" *ngIf="carmodelautotest?.EngineType==0">DEL_MAX</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.DEL_MAX}}</dd>
      <dt i18n="@@MIN_CO" *ngIf="carmodelautotest?.EngineType==0">MIN_CO</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_CO}}</dd>
      <dt i18n="@@MAX_CO" *ngIf="carmodelautotest?.EngineType==0">MAX_CO</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_CO}}</dd>
      <dt i18n="@@MIN_CH" *ngIf="carmodelautotest?.EngineType==0">MIN_CH</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_CH}}</dd>
      <dt i18n="@@MAX_CH" *ngIf="carmodelautotest?.EngineType==0">MAX_CH</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_CH}}</dd>
      <dt i18n="@@L_MIN" *ngIf="carmodelautotest?.EngineType==0">L_MIN</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.L_MIN}}</dd>
      <dt i18n="@@L_MAX" *ngIf="carmodelautotest?.EngineType==0">L_MAX</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.L_MAX}}</dd>
      <dt i18n="@@MIN_CO2" *ngIf="carmodelautotest?.EngineType==0">MIN_CO2</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_CO2}}</dd>
      <dt i18n="@@MIN_O2" *ngIf="carmodelautotest?.EngineType==0">MIN_O2</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_O2}}</dd>
      <dt i18n="@@MIN_NOx" *ngIf="carmodelautotest?.EngineType==0">MIN_NOx</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MIN_NOx}}</dd>
      <dt i18n="@@MAX_CO2" *ngIf="carmodelautotest?.EngineType==0">MAX_CO2</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_CO2}}</dd>
      <dt i18n="@@MAX_O2" *ngIf="carmodelautotest?.EngineType==0">MAX_O2</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_O2}}</dd>
      <dt i18n="@@MAX_NOx" *ngIf="carmodelautotest?.EngineType==0">MAX_NOx</dt>
      <dd *ngIf="carmodelautotest?.EngineType==0">{{carmodelautotest?.MAX_NOx}}</dd>
      <dt i18n="@@K_SVOB" *ngIf="carmodelautotest?.EngineType==1">K_SVOB</dt>
      <dd *ngIf="carmodelautotest?.EngineType==1">{{carmodelautotest?.K_SVOB}}</dd>
      <dt i18n="@@K_MAX" *ngIf="carmodelautotest?.EngineType==1">K_MAX</dt>
      <dd *ngIf="carmodelautotest?.EngineType==1">{{carmodelautotest?.K_MAX}}</dd>
      <dt i18n="@@CarPost">Car Post</dt>
      <dd>{{carmodelautotest?.CarPost?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/carmodelautotests']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
