<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Users" class="btn" [routerLink]="['/users']" matTooltip="Users">
    <span i18n="@@Users">Users</span>
  </a> /
  <a i18n-matTooltip="@@UserDetails" class="btn" matTooltip="UserDetails">
    <span i18n="@@UserDetails">User details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@UserEmail">User email</dt>
      <dd>{{user?.Email}}</dd>
    </dl>
    <dl>
      <dt i18n="@@UserRoles">User roles</dt>
      <dd>{{user?.Roles}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/users']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
