<mat-card>
  <mat-card-title i18n="@@UserDetails">User details</mat-card-title>
  <mat-card-content>
    <dl>
      <dt i18n="@@UserEmail">User email</dt>
      <dd>{{user?.Email}}</dd>
    </dl>
    <dl>
      <dt i18n="@@UserRoles">User roles</dt>
      <dd>{{user?.Roles}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/users']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
