<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Posts" class="btn" [routerLink]="['/administration/posts']" matTooltip="Monitoring Posts">
    <span i18n="@@Posts">Monitoring Posts</span>
  </a> /
  <a i18n-matTooltip="@@Posts" [routerLink]="['/posts']" class="btn" matTooltip="Monitoring Posts">
    <span i18n="@@Posts">Monitoring Posts</span>
  </a> /
  <a i18n-matTooltip="@@CreateNewPost" class="btn" matTooltip="Create a new Monitoring Post">
    <span i18n="@@CreateNewPost">Create a new Monitoring Post</span>
  </a>
  <br />
  <form [formGroup]="postForm" autocomplete="off" novalidate (ngSubmit)="create(postForm.value)">
    <mat-card-content class="row">
      <div class="column">
        <mat-form-field>
          <input i18n-placeholder="@@Name" matInput type="text" placeholder="Name" formControlName="Name" id="name">
          <mat-hint i18n="@@NotMore50Characters">Not more than 50 characters long.</mat-hint>
          <mat-error i18n="@@NameRequired" *ngIf="error('Name', 'required')">Name is required</mat-error>
          <mat-error i18n="@@More50Characters" *ngIf="error('Name', 'maxlength')">You have more than 50 characters</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput type="text" placeholder="MN" formControlName="MN" id="mn">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input i18n-placeholder="@@Latitude" matInput type="number" placeholder="Latitude" formControlName="Latitude" id="latitude" (change)="ChangeCoordinates()">
          <mat-error i18n="@@LatitudeRequired" *ngIf="error('Latitude', 'required')">Latitude is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input i18n-placeholder="@@Longitude" matInput type="number" placeholder="Longitude" formControlName="Longitude" id="longitude" (change)="ChangeCoordinates()">
          <mat-error i18n="@@LongitudeRequired" *ngIf="error('Longitude', 'required')">Longitude is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input i18n-placeholder="@@Information" matInput type="text" placeholder="Information" formControlName="Information" id="information">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input i18n-placeholder="@@PhoneNumber" matInput type="text" placeholder="Phone Number" formControlName="PhoneNumber" id="phonenumber">
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label i18n="@@Project">Project</mat-label>
          <mat-select formControlName="ProjectId" id="projectid">
            <mat-option></mat-option>
            <mat-option *ngFor="let project of projects" [value]="project.Id">
              {{project.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label i18n="@@PollutionEnvironment">Pollution Environment</mat-label>
          <mat-select formControlName="PollutionEnvironmentId" id="pollutionenvironmentid">
            <mat-option *ngFor="let pollutionenvironment of pollutionenvironments" [value]="pollutionenvironment.Id">
              {{pollutionenvironment.Name}}
            </mat-option>
          </mat-select>
          <mat-error i18n="@@PollutionEnvironmentRequired" *ngIf="error('PollutionEnvironmentId', 'required')">Pollution Environment is required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label i18n="@@DataProvider">Data Provider</mat-label>
          <mat-select formControlName="DataProviderId" id="dataproviderid">
            <mat-option *ngFor="let dataprovider of dataproviders" [value]="dataprovider.Id">
              {{dataprovider.Name}}
            </mat-option>
          </mat-select>
          <mat-error i18n="@@DataProviderRequired" *ngIf="error('DataProviderId', 'required')">Data Provider is required</mat-error>
        </mat-form-field>
        <br />
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span i18n="@@KazhydrometData">Kazhydromet data</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input i18n-placeholder="@@KazhydrometID" matInput type="number" placeholder="Kazhydromet ID" formControlName="KazhydrometID" id="kazhydrometid">
          </mat-form-field>
          <br />
          <mat-checkbox i18n="@@Automatic" matInput formControlName="Automatic" id="automatic">Automatic</mat-checkbox>
          <br />
        </mat-expansion-panel>
      </div>
      <div class="column map-container">
        <mat-form-field>
          <mat-label i18n="@@Background">Background</mat-label>
          <mat-select id="background" [formControl]="background" (selectionChange)="changeBackground($event.value)">
            <mat-option value="OSM">OpenStreetMap</mat-option>
            <mat-option value="BingAerialWithLabels">Bing Aerial</mat-option>
            <mat-option value="BingRoadStatic">Bing Road (static)</mat-option>
            <mat-option value="BingRoadDynamic">Bing Road (dynamic)</mat-option>
            <mat-option value="HERENormalDay">HERE Normal Day</mat-option>
            <mat-option value="HERENormalDayTransit">HERE Normal Day Transit</mat-option>
            <mat-option value="HERETerrainDay">HERE Terrain Day</mat-option>
            <mat-option value="HEREHybridDay">HERE Hybrid Day</mat-option>
            <mat-option value="StamenWatercolor">Stamen Watercolor</mat-option>
            <mat-option value="StamenTerrain">Stamen Terrain</mat-option>
            <mat-option value="StamenToner">Stamen Toner</mat-option>
            <mat-option value="ArcGIS">ArcGIS</mat-option>
            <mat-option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</mat-option>
            <mat-option value="ThunderforestTransport">Thunderforest Transport</mat-option>
            <mat-option value="ThunderforestLandscape">Thunderforest Landscape</mat-option>
            <mat-option value="ThunderforestOutdoors">Thunderforest Outdoors</mat-option>
            <mat-option value="ThunderforestTransportDark">Thunderforest Transport Dark</mat-option>
            <mat-option value="ThunderforestSpinalMap">Thunderforest Spinal Map</mat-option>
            <mat-option value="ThunderforestPioneer">Thunderforest Pioneer</mat-option>
            <mat-option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</mat-option>
            <mat-option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <div id="map" class="map"></div>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button i18n="@@Create" mat-raised-button color="primary" [disabled]="!postForm.valid">Create</button>
      <button i18n="@@Cancel" type="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
