<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@Projects" [routerLink]="['/projects']" class="btn" matTooltip="Projects">
    <span i18n="@@Projects">Projects</span>
  </a> /
  <a i18n-matTooltip="@@ProjectDetails" class="btn" matTooltip="Project details">
    <span i18n="@@ProjectDetails">Project details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{project?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/projects']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
