<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@Projects" [routerLink]="['/projects']" class="btn" matTooltip="Projects">
    <span i18n="@@Projects">Projects</span>
  </a> /
  <a i18n-matTooltip="@@EditProject" class="btn" matTooltip="Edit Project">
    <span i18n="@@EditProject">Edit Project</span>
  </a>
  <br />
  <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="save(projectForm.value)">
    <mat-card-content>
      <mat-form-field>
        <input i18n-placeholder="@@Name" matInput type="text" placeholder="Name" formControlName="Name" id="name">
        <mat-hint i18n="@@NotMore50Characters">Not more then 50 characters long.</mat-hint>
        <mat-error i18n="@@NameRequired" *ngIf="error('Name', 'required')">Name is required</mat-error>
        <mat-error i18n="@@More50Characters" *ngIf="error('Name', 'maxlength')">You have more than 50 characters</mat-error>
      </mat-form-field>
      <br />
    </mat-card-content>
    <mat-card-actions align="center">
      <button i18n="@@Save" mat-raised-button color="primary" [disabled]="!projectForm.valid">Save</button>
      <button i18n="@@Cancel" type="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
