<div class="jumbtron">
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@Projects" class="btn" matTooltip="Projects">
    <span i18n="@@Projects">Projects</span>
  </a>
  <br />
  <projects></projects>
</div>
