<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@Directories" class="btn" [routerLink]="['/administration/directories']" matTooltip="Directories">
    <span i18n="@@Directories">Directories</span>
  </a> /
  <a i18n-matTooltip="@@MeasuredParameters" [routerLink]="['/measuredparameters']" class="btn" matTooltip="Measured Parameters">
    <span i18n="@@MeasuredParameters">Measured Parameters</span>
  </a> /
  <a i18n-matTooltip="@@MeasuredParameterDetails" class="btn" matTooltip="Measured Parameter details">
    <span i18n="@@MeasuredParameterDetails">Measured Parameter details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{measuredparameter?.Name}}</dd>
      <dt i18n="@@MPCDailyAverage">MPC Daily Average</dt>
      <dd>{{measuredparameter?.MPCDailyAverage}}</dd>
      <dt i18n="@@MPCMaxOneTime">MPC Maximum One Time</dt>
      <dd>{{measuredparameter?.MPCMaxOneTime}}</dd>
      <dt i18n="@@OceanusCode">Oceanus Code</dt>
      <dd>{{measuredparameter?.OceanusCode}}</dd>
      <dt i18n="@@OceanusCoefficient">Oceanus Coefficient</dt>
      <dd>{{measuredparameter?.OceanusCoefficient}}</dd>
      <dt i18n="@@KazhydrometCode">Kazhydromet Code</dt>
      <dd>{{measuredparameter?.KazhydrometCode}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/measuredparameters']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
