.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  /*text-align: center;*/
}

.map {
  height: 467px;
  min-width: 300px;
}

.not-first {
    padding-left: 15px;
}

.custom-scroll-bar{
    padding-top: 10px;
    height:60vh;
    overflow-y:scroll;
    overflow-x: hidden;
}

.custom-scroll-bar::-webkit-scrollbar{
    width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.26);
}

button:not(:first-child) {
  margin: 0px 0px 0px 8px;
}
