<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

<mat-tab-group>
  <mat-tab i18n-label="@@CarPosts" label="Car Posts">
    <div class="grid-container">
      <mat-grid-list cols="10" rowHeight="50px">

        <mat-grid-tile [colspan]="10" [rowspan]="5">
          <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-content">
              <mat-form-field>
                <mat-label i18n="@@Background">Background</mat-label>
                <mat-select id="background" [formControl]="background" (selectionChange)="changeBackground($event.value)">
                  <mat-option value="OSM">OpenStreetMap</mat-option>
                  <mat-option value="BingAerialWithLabels">Bing Aerial</mat-option>
                  <mat-option value="BingRoadStatic">Bing Road (static)</mat-option>
                  <mat-option value="BingRoadDynamic">Bing Road (dynamic)</mat-option>
                  <mat-option value="HERENormalDay">HERE Normal Day</mat-option>
                  <mat-option value="HERENormalDayTransit">HERE Normal Day Transit</mat-option>
                  <mat-option value="HERETerrainDay">HERE Terrain Day</mat-option>
                  <mat-option value="HEREHybridDay">HERE Hybrid Day</mat-option>
                  <mat-option value="StamenWatercolor">Stamen Watercolor</mat-option>
                  <mat-option value="StamenTerrain">Stamen Terrain</mat-option>
                  <mat-option value="StamenToner">Stamen Toner</mat-option>
                  <mat-option value="ArcGIS">ArcGIS</mat-option>
                  <mat-option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</mat-option>
                  <mat-option value="ThunderforestTransport">Thunderforest Transport</mat-option>
                  <mat-option value="ThunderforestLandscape">Thunderforest Landscape</mat-option>
                  <mat-option value="ThunderforestOutdoors">Thunderforest Outdoors</mat-option>
                  <mat-option value="ThunderforestTransportDark">Thunderforest Transport Dark</mat-option>
                  <mat-option value="ThunderforestSpinalMap">Thunderforest Spinal Map</mat-option>
                  <mat-option value="ThunderforestPioneer">Thunderforest Pioneer</mat-option>
                  <mat-option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</mat-option>
                  <mat-option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="not-first">
                <mat-label i18n="@@StartDate">Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="startDate" (dateChange)="changeDate()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="not-first">
                <mat-label i18n="@@EndDate">End Date</mat-label>
                <input matInput [matDatepicker]="picker2" [min]="startDate.value" [formControl]="endDate" (dateChange)="changeDate()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="not-first">
                <mat-label i18n="@@CarPosts">Car Posts</mat-label>
                <mat-select multiple (selectionChange)="changeCarPosts($event)">
                  <mat-option *ngFor="let carPost of selectedCarPosts" [value]="carPost.Id">
                    {{carPost.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="5" [rowspan]="10">
          <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-content">
              <div id="map" class="map"></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="5" [rowspan]="10">
          <mat-card class="dashboard-card" style="overflow: auto;">
            <dl>
              <dt i18n="@@CarPost">Car Post</dt>
              <dd>{{carpostanalytic?.CarPost?.Name}}</dd>
              <dt i18n="@@Measurement">Measurements count</dt>
              <dd>{{carpostanalytic?.Measurement}}</dd>
              <dt i18n="@@Exceeding">Exceeding count</dt>
              <dd>{{carpostanalytic?.Exceeding}}</dd>
            </dl>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab i18n-label="@@Posts" label="Monitoring Posts">
    <div class="grid-container">
      <mat-grid-list cols="10" rowHeight="50px">

        <mat-grid-tile [colspan]="10" [rowspan]="3">
          <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-content">

            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>

