<mat-card>
  <a i18n-matTooltip="@@Administration" class="btn" [routerLink]="['/administration']" matTooltip="Administration">
    <span i18n="@@Administration">Administration</span>
  </a> /
  <a i18n-matTooltip="@@CarPosts" class="btn" [routerLink]="['/administration/carposts']" matTooltip="Car Posts">
    <span i18n="@@CarPosts">Car Posts</span>
  </a> /
  <a i18n-matTooltip="@@CarModelSmokeMeters" [routerLink]="['/carmodelsmokemeters']" class="btn" matTooltip="Car Models (Smoke Meter)">
    <span i18n="@@CarModelSmokeMeters">Car Models (Smoke Meter)</span>
  </a> /
  <a i18n-matTooltip="@@CarModelSmokeMeterDetails" class="btn" matTooltip="Car Model (Smoke Meter) details">
    <span i18n="@@CarModelSmokeMeterDetails">Car Model (Smoke Meter) details</span>
  </a>
  <br />
  <mat-card-content>
    <dl>
      <dt i18n="@@Name">Name</dt>
      <dd>{{carmodelsmokemeter?.Name}}</dd>
      <dt i18n="@@Boost">Boost</dt>
      <dd i18n="@@Yes" *ngIf="carmodelsmokemeter?.Boost==true">Yes</dd>
      <dd i18n="@@No" *ngIf="carmodelsmokemeter?.Boost==false">No</dd>
      <dt i18n="@@DFreeMark">DFreeMark</dt>
      <dd>{{carmodelsmokemeter?.DFreeMark}}</dd>
      <!--<dt i18n="@@DMaxMark">DMaxMark</dt>
      <dd>{{carmodelsmokemeter?.DMaxMark}}</dd>-->
      <dt i18n="@@CarPost">Car Post</dt>
      <dd>{{carmodelsmokemeter?.CarPost?.Name}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions align="center">
    <a i18n-matTooltip="@@Back" class="btn" [routerLink]="['/carmodelsmokemeters']" matTooltip="Back"><i class="material-icons">arrow_back</i></a>
  </mat-card-actions>
</mat-card>
